    html {
     height: 100%;
     } 
     body {font-family: Arial, Helvetica, sans-serif;background: url("images/back1.jpg");}

     /* LOGIN FORM START*/  

     label{
         font-size: 20px;
     }
     input[type=text]{
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
     border-radius: 5px;
     font-size: 16px;
     }
     button {
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     font-size: 25px;
     cursor: pointer;
     width: 100%;
     }
     button:hover {
     opacity: 0.8;
     }
     .container {
     padding: 16px;
     width: 50%;
     }
     span.psw {
     float: right;
     padding-top: 16px;
     }
     .loginWrapper{
     float:right;
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 90%;
     }
    
     #errorMessage{
     height:50px;
     color: red;
     font-family: 'Verdana';
     }
      /* LOGIN FORM END*/ 

     /* BOOK ANIMATION START*/ 
    .bookWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        float:left;
    }

     .book {
     perspective: 100em;
     width: 100%;
     height: 50%;
     display: flex;
     justify-content: center;
     }
     .cover {
     top: 0.25rem;
     left: 15.25rem;
     background-color: #36354e;
     transform: rotateY(0deg);
     width: 25%;
     height: 75%;
     }
     .page {
     top: 0.25rem;
     left: 15.25rem;
     background-color: #e9e6c4;
     transform: rotateY(0deg);
     width: 25%;
     height: 75%;
     text-align: right;
     font-size: 8px;
     color: #777;
     font-family: monospace;
     }
     .page::before{
     display: block;
     border-top: 1px dashed rgba(0, 0, 0, 0.3);
     content: "Evalu8";
     height: 50px;
     width: 100px;
     font-size: 25px;
     margin-top:1px solid gray;
     padding-bottom: 1rem;
     }
     .page::after {
     display: block;
     border-top: 1px dashed rgba(0, 0, 0, 0.3);
     content: "Kinectic Learning";
     height: 50px;
     width: 100px;
     font-size: 25px;
     margin-top:1px solid gray;
     padding-bottom: 1rem;
     }
     .cover, .page {
     position: absolute;
     padding: 1rem;
     transform-origin: 100% 0;
     border-radius: 5px 0 0 5px;
     box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
     0px 0px 15px rgba(0, 0, 0, 0.1);
     box-sizing: border-box;
     }
     .cover.turn {
     animation: bookCover 3s forwards;
     }
     .page.turn {
     animation: bookOpen 3s forwards;
     }
     .page:nth-of-type(1) {
     animation-delay: 0.05s;
     }
     .page:nth-of-type(2) {
     animation-delay: 0.33s
     }
     .page:nth-of-type(3) {
     animation-delay: 0.66s;
     }
     .page:nth-of-type(4) {
     animation: bookOpen150deg 3s forwards;
     animation-delay: 0.99s;
     }
     .page:nth-of-type(5) {
     animation: bookOpen30deg 3s forwards;
     animation-delay: 1.2s;
     }
     .page:nth-of-type(6) {
     animation: bookOpen55deg 3s forwards;
     animation-delay: 1.25s;
     }
     @keyframes bookOpen {
     30% { z-index: 999 }
     100% {  transform: rotateY(180deg);
     z-index: 999;}
     }
     @keyframes bookCover {
     30% { z-index: 999 }
     100% {  transform: rotateY(180deg);
     z-index: 1;}
     }
     @keyframes bookOpen150deg {
     30% { z-index: 999 }
     100% {  transform: rotateY(150deg);
     z-index: 999;}
     }
     @keyframes bookOpen55deg {
     30% { z-index: 999 }
     100% {  transform: rotateY(55deg);
     z-index: 999;}
     }
     @keyframes bookOpen30deg {
     50% { z-index: 999 }
     100% {  transform: rotateY(30deg);
     z-index: 999;}
     }
     /* BOOK ANIMATION END*/ 