     *{
      margin: 0px;
      }
 
      /* FLEX COMMON PROPERTY*/   
      .flexCommon{
      display: flex;
      justify-content: center;
      align-items: center;
      }
      /*  (DELETE / SCORE /SAVE)  WRAPPER START */
      .gameDeleteScoreSaveWrapper{
      float: left;
      width:20%;
      flex-direction: column;
      height: 100%;
      }
      /*  DROPBOX START*/
      .dropBox{
      height:70px;
      width:70px;
      }    
      .gameScreenDropBox {
      border:1px dotted grey;
      display: inline-block;
      cursor: pointer;
      }
      /* DELETE */  
      .deleteDropBox {
      background: url('images/dust.png') no-repeat;
      background-size: cover;
      }
      /* SCORE */
      .resultText{
      color: black;
      font-family: 'Verdana';
      font-size: 40px;
      font-variant: small-caps;
      top:100px;
      position: absolute;
      font-weight: bold;
          
      }

        /*  DROPBOX END*/
      /*  SAVE */
      .save{
          width: 70px;
          height: 70px;
          background: url('images/floppy.png') no-repeat;
          background-size: cover;
          margin-left: 10px;
          }
          /*   (DELETE / SCORE /SAVE)  WRAPPER END */
          /* kEYBOARD START */
          .keyboard{
          float:right;
          width:20%;
          height:100%;
          }
          /* NUMBER WRAPPER START */
          .numberWrapper{
          display:flex;
          flex-direction: row;
          flex-flow: wrap;
          width:160px;
          align-content: center;
          background: blue;
          background:#f1f1f1;
          cursor: pointer;
          }
          /* NUMBER */
          .number{
          background:blue;
          height: 70px;
          width: 70px;
          color: white;
          margin:5px;
          }
          /* OPERATORS*/
          .operator{
          background:#FC4646;
          height: 70px;
          width: 70px;
          color: white;
          margin:5px;
          }
          /* (NUMBER / OPERATOR) SPAN TEXT */
          .numberOperatorText{
          font-size: 50px;
          font-family: 'Open Sans';
          }

      /* NUMBER WRAPPER END */
      /* KEYBOARD END */
      /* GAME SCREEN START */
      .gameScreen{
      float:right;
      width:60%;
      height:100%;
      background: url('images/green2.jpg');
      background-size: cover;
      }
      /* GAME VIEW START*/
      .gameView{
      height: 60%;
      position: relative;
      }
      /* EXPRESSION  */ 
      .expression{
      width:100%;
      height: 70px;
      }
      #answer{
      height: 60px;
      width: 120px;
      background: gray;
      color: white;
  
  
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      }
      /* ANSWER */
      #result{
      font-size: 40px;
      font-family: Open Sans;
      }
      /* GAME VIEW END*/
      /* GAME CHARCATER START*/
      .gameCharacter{
      height: 30%;
      }
    
   
      /* WALL */
      .wall{
      background: brown;
      width: 100%;
      height:100%;
      }
      /* GAME CHARCATER END*/
      /* GAME SCREEN END*/